USE [master]
GO
/****** Object:  Database [LoginTable]    Script Date: 2022/6/22 16:18:20 ******/
CREATE DATABASE [LoginTable]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LoginTable', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LoginTable.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LoginTable_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LoginTable_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LoginTable].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LoginTable]
GO
/****** Object:  Table [dbo].[allmessage]    Script Date: 2022/6/22 16:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[allmessage](
	[id] [int] NOT NULL,
	[time] [char](20) NOT NULL,
	[text] [char](7500) NOT NULL,
	[sender] [char](20) NOT NULL,
 CONSTRAINT [PK_allmessage] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[allmessageflag]    Script Date: 2022/6/22 16:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[allmessageflag](
	[username] [char](20) NOT NULL,
	[isread] [char](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book]    Script Date: 2022/6/22 16:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book](
	[id] [int] NOT NULL,
	[bname] [char](80) NOT NULL,
	[bnum] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hs]    Script Date: 2022/6/22 16:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hs](
	[username] [char](20) NOT NULL,
	[id] [char](10) NOT NULL,
	[time] [char](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[js]    Script Date: 2022/6/22 16:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[js](
	[username] [char](20) NOT NULL,
	[id] [char](10) NOT NULL,
	[time] [char](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login]    Script Date: 2022/6/22 16:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[username] [char](20) NOT NULL,
	[password] [char](20) NOT NULL,
	[age] [int] NULL,
	[sex] [char](10) NULL,
	[qq] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loginad]    Script Date: 2022/6/22 16:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loginad](
	[username] [char](20) NOT NULL,
	[password] [char](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ly]    Script Date: 2022/6/22 16:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ly](
	[id] [int] NULL,
	[username] [char](20) NOT NULL,
	[time] [char](20) NOT NULL,
	[text] [char](7500) NOT NULL,
	[jx] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ss]    Script Date: 2022/6/22 16:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ss](
	[id] [int] NOT NULL,
	[time] [char](20) NOT NULL,
	[username] [char](10) NOT NULL,
	[flag] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usermessage]    Script Date: 2022/6/22 16:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usermessage](
	[username] [char](20) NOT NULL,
	[text] [char](7500) NOT NULL,
	[time] [char](20) NOT NULL,
	[sender] [char](20) NOT NULL,
	[isread] [char](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yy]    Script Date: 2022/6/22 16:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yy](
	[username] [char](20) NOT NULL,
	[id] [int] NOT NULL,
	[time] [char](20) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[allmessageflag] ([username], [isread]) VALUES (N'all                 ', N'否        ')
INSERT [dbo].[allmessageflag] ([username], [isread]) VALUES (N'123                 ', N'否        ')
INSERT [dbo].[allmessageflag] ([username], [isread]) VALUES (N'user1               ', N'否        ')
GO
INSERT [dbo].[book] ([id], [bname], [bnum]) VALUES (1001, N'读者                                                                            ', 117)
INSERT [dbo].[book] ([id], [bname], [bnum]) VALUES (1003, N'让青春更阳光（上下）                                                            ', 28)
INSERT [dbo].[book] ([id], [bname], [bnum]) VALUES (1004, N'影响几代人的成长法则（上下）                                                    ', 24)
GO
INSERT [dbo].[hs] ([username], [id], [time]) VALUES (N'123                 ', N'1001      ', N'2022/5/27 14:30:59  ')
INSERT [dbo].[hs] ([username], [id], [time]) VALUES (N'123                 ', N'1024      ', N'2022/6/13 14:36:11  ')
INSERT [dbo].[hs] ([username], [id], [time]) VALUES (N'于小涵              ', N'1004      ', N'2022/6/14 20:46:17  ')
GO
INSERT [dbo].[js] ([username], [id], [time]) VALUES (N'12                  ', N'12312     ', N'2022/5/22 15:42:54  ')
INSERT [dbo].[js] ([username], [id], [time]) VALUES (N'abc                 ', N'1005      ', N'2022/6/14 11:16:40  ')
INSERT [dbo].[js] ([username], [id], [time]) VALUES (N'123                 ', N'1003      ', N'2022/6/13 14:45:18  ')
GO
INSERT [dbo].[login] ([username], [password], [age], [sex], [qq]) VALUES (N'123                 ', N'123                 ', 0, N'null      ', 0)
INSERT [dbo].[login] ([username], [password], [age], [sex], [qq]) VALUES (N'yonghu1             ', N'1                   ', 1, N'1         ', 1)
INSERT [dbo].[login] ([username], [password], [age], [sex], [qq]) VALUES (N'user123             ', N'1                   ', 1, N'1         ', 1)
GO
INSERT [dbo].[loginad] ([username], [password]) VALUES (N'abc                 ', N'123                 ')
INSERT [dbo].[loginad] ([username], [password]) VALUES (N'123                 ', N'321                 ')
INSERT [dbo].[loginad] ([username], [password]) VALUES (N'123                 ', N'123                 ')
GO
INSERT [dbo].[ss] ([id], [time], [username], [flag]) VALUES (2479, N'2022/6/13 14:34:53  ', N'123       ', 1)
INSERT [dbo].[ss] ([id], [time], [username], [flag]) VALUES (5253, N'2022/6/14 20:45:06  ', N'于小涵    ', 1)
INSERT [dbo].[ss] ([id], [time], [username], [flag]) VALUES (6952, N'2022/6/15 17:03:10  ', N'123       ', 1)
GO
INSERT [dbo].[yy] ([username], [id], [time]) VALUES (N'123                 ', 1005, N'2022/6/13 14:36:35  ')
INSERT [dbo].[yy] ([username], [id], [time]) VALUES (N'123                 ', 1004, N'2022/6/17 19:50:49  ')
INSERT [dbo].[yy] ([username], [id], [time]) VALUES (N'123456              ', 1005, N'2022/6/22 15:20:00  ')
GO
USE [master]
GO
