<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjp.mapper.SaleMapper">

    <resultMap id="BaseResultMap" type="com.zjp.domain.Sale">
            <id property="sal_id" column="sal_id" jdbcType="INTEGER"/>
            <result property="pro_id" column="pro_id" jdbcType="INTEGER"/>
            <result property="ord_id" column="ord_id" jdbcType="INTEGER"/>
            <result property="sal_time" column="sal_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        sal_id,pro_id,ord_id,
        sal_time
    </sql>
</mapper>
